<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-3.2.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.0.0.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.0.0.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-formhelpers.css" />
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="/static/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="/static/ico/favicon.png">
<!-- /favicons -->

<!-- scripts -->
<script src="/static/js/libs/modernizr-2.6.2.min.js"></script>

<!--[if lt IE 9]><script src="/static/js/libs/respond-1.3.0.min.js"></script><![endif]-->
<!-- /scripts -->

<!-- SHIT I ADDED -->

<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/js/bootstrap-formhelpers.js"></script>
  <script>
$(document).ready(function() {
  $("#datepicker").datepicker();
  $("#timepicker").timepicker();
});
</script>


</head>
<body>

  <!-- Wrap all page content here -->
  <div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Bot Log</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li {% if request.endpoint == 'home' %} class="active" {% endif %}><a href="{{ url_for('home') }}">Home</a></li>
            
            <li {% if request.endpoint == 'addsystem' or request.endpoint == 'viewsystems' %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
              <a class="dropdown-toggle" data-toggle="dropdown">Systems <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('addsystem') }}">Add System</a></li>
                <li><a href="{{ url_for('systems') }}">View Systems</a></li>
              </ul>
            </li>
            <li {% if request.endpoint == 'viewcall' or request.endpoint == 'addcall' %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
              <a class="dropdown-toggle" data-toggle="dropdown">Service Calls <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('addcall') }}">Add Service Call</a></li>
                <li><a href="{{ url_for('viewcall') }}">View Service Call</a></li>
              </ul>
            </li>
            
          <li {% if request.endpoint == 'weeklyreport' or request.endpoint == 'monthlyreport' or request.endpoint == 'statusreport' %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
              <a class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('statusreport') }}">Status</a></li>
                <li><a href="{{ url_for('weeklyreport') }}">Weekly</a></li>
                <li><a href="{{ url_for('monthlyreport') }}">Monthly</a></li>
              </ul>
            </li>
          <li {% if request.endpoint == 'newsurvey' or request.endpoint == 'completesurvey' or request.endpoint == 'viewsurvey' %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
              <a class="dropdown-toggle" data-toggle="dropdown">Surveys<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('newsurvey') }}">New Survey</a></li>
                <li><a href="{{ url_for('completesurvey') }}">Complete Survey</a></li>
                <li><a href="{{ url_for('viewsurvey') }}">View Survey</a></li>
              </ul>
            </li>
          <li {% if request.endpoint == 'qrmake' or request.endpoint == 'qrreports' %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
              <a class="dropdown-toggle" data-toggle="dropdown">QR Codes<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('qrmake') }}">Make a QR Code</a></li>
                <li><a href="{{ url_for('qrreports') }}">Reports</a></li>
              </ul>
            </li>
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Manuals<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('mtgrusermanual') }}">MTGR User Manual</a></li>
                <li><a href="{{ url_for('gta') }}">GTA</a></li>
                <li><a href="{{ url_for('maintmanual') }}">Maint. Manual</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <!-- <li><a href="// url_for/'register'/ //">Signup</a></li> -->
            <li>{% if request.authorization.username == null %}<a>Logged in as <b>Guest</b></a>{% else %} <a>Logged in as <b>{{ request.authorization.username }}</b></a>{% endif %}</li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a>{{thetime}}, {{today}}</a></li>
          </ul>
          {% if request.authorization.username == 'shahar' %}
          <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('ticketqueue') }}">Ticket Queue</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Begin page content -->
    <main id="content" role="main" class="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-block alert-error fade in">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
      
    </main>

  </div>

  <div id="footer">
    <div class="container hidden-print">
    <div class="col-md-6 hidden-print"><br>
      <img src="/static/img/logosmall.png" width="100px"> &copy; All Rights Reserved.
      Problems?<a href="mailto:adam@robo-teamna.com">Email me!</a>
      {% block footer %}{% endblock %}
    </div>
    </div>
  </div>
  <!-- <script type="text/javascript" src="/static/js/libs/jquery.min.js"></script> -->
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <!-- <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.10.2.min.js"><\/script>')</script> -->
  <script defer src="/static/js/libs/bootstrap-3.0.0.min.js"></script>
  <script defer src="/static/js/plugins.js"></script>
  <script defer src="/static/js/script.js"></script>
  
  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
  <script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>

</body>
</html>
